### Python for Beginner

### Python Data Structures
Lists : A list is an ordered collection of items.list are mutable,meaning you can change their contents.

Ordered - index
Mutable - change

In [3]:
fruits = ["Orange","Bananna","Apple"]
fruits.append("pawpaw")
print(fruits)

['Orange', 'Bananna', 'Apple', 'pawpaw']

In [4]:
# Example of a list
fruits = ["apple", "Banana","cherry"]
print(fruits)

#Adding on item to a list
fruits.append("date")
print(fruits)

# Accessing elements by index
print(fruits[1])

['apple', 'Banana', 'cherry']
['apple', 'Banana', 'cherry', 'date']
Banana

Dictionaries: A dictionary stores data in key-value pairs. it's useful for looking up values by their keys

In [6]:
# Example of a dictionary 
student = {"name":"John", "age": 22,"major":"Computer Science"}
print(student)

{'name': 'John', 'age': 22, 'major': 'Computer Science'}

Sets: A set is an unordered collection of unique items

In [8]:
# Example of a dictionary
numbers = {1, 2, 3, 4, 4, 5}
print(numbers)  # Duplicate '4' is removed

# Adding an element to a set
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

Tuples: A tuple is an ordered immutable collection of items.

In [10]:
# Example of a tuple
coordinates = (10.0, 20.0)
print (coordinates)

#Accessing elements by index
print(coordinates[0])

(10.0, 20.0)
10.0

### Index

An index refers to the position number of an item within a sequence or collection

. Zero-Based indexing - the first element in a sequence is at index 0,the second element at index 1, and so on.

. Negative indexing - where -1 refers to the last element, -2 refers to the second last element and so on.

In [14]:
# Example list
numbers = [10,20,30,40,50]

In [15]:
# Accessing elements using positive and negative indices 
print(numbers[0])
print(numbers[-1])

10
50

In [16]:
# slicing the list
print(numbers[1:4])

[20, 30, 40]

In [17]:
# Example string
name = "python"
name[0]

'p'

In [18]:
print(name[0])
print(name[-1])

#slicing a string
print(name[1:4])

p
n
yth

In [19]:
# string method

Course = "Python for Beginners"

print("Python" in Course)

True

In [20]:
Course.lower()

'python for beginners'

In [21]:
Course.replace("for", "to")

'Python to Beginners'

In [22]:
Course.upper()

'PYTHON FOR BEGINNERS'

1. ### List
    
   A list is an ordered, mutable(changeable) collection that allows duplicate elements. List are created by placing elements inside square bracket[].
   
#### Characteristics:

  . ordered : Elements have a defined order and the order will not change unless explicity modified 
  
  . Mutable : You can change, add,or remove elements after the list has been created 
  
  . Allow duplicates: Lists can contain duplicate elements

In [40]:
# Example
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [43]:
list2 = [1, 'hello', 3.14, [2,3], {"key":"value"}]
#contains integer, string, float, list and dictionary

In [46]:
list2

[1, 'hello', 3.14, [2, 3], {'key': 'value'}]

### Common List Methods 

   . append(item): Adds an item to the end of the list
   
   . extend(iterable) : Adds all element of an iterable (like another list) to the end of the list.
   
   . insert(index, item) : inserts an item at a given position
   
   . remove(item) : Removes the first occurence of an item 
   
   . pop (index) : Removes and returns the items at the givven position (default in the last item)
   
   . sort() : Sorts the list in ascending order.
   
   . reverse(): Reverse the list 
   
   . count(item): Returns the number of occurences of an item.

   . index(item) : Returns the index of the first occurence of an item.

In [53]:
list2[-2][0]

2

In [55]:
list2.append("th")

In [57]:
list2

[1, 'hello', 3.14, [2, 3], {'key': 'value'}, 'th']

In [59]:
list2.extend("77")

In [61]:
list2

[1, 'hello', 3.14, [2, 3], {'key': 'value'}, 'th', '7', '7']

In [67]:
list2.insert(1, 7)

In [69]:
list2

[1, 7, 'hello', 3.14, [2, 3], {'key': 'value'}, 'th', '7', '7']

In [71]:
my_list.remove(3) # works with the avtual item

In [73]:
my_list

[1, 2, 4, 5, 6]

In [75]:
list2.pop() # works with indexing

'7'

In [77]:
list2

[1, 7, 'hello', 3.14, [2, 3], {'key': 'value'}, 'th', '7']

In [79]:
list2.reverse()

In [81]:
list2

['7', 'th', {'key': 'value'}, [2, 3], 3.14, 'hello', 7, 1]

In [85]:
my_list.sort()

In [87]:
my_list

[1, 2, 4, 5, 6]

In [89]:
my_list.count(2)

1

 2. ### Tuple

    A tuple is an ordered, immutable (unchangeable) collection that allows duplicate elements. Tuples are created by placing element inseide parentheses()

### Characteristics:
  . ordered: Elements have a specific order, and this order will not change

  . Immutable: Once a tuple a created, you can change the elements.

  . Allows duplicates: Tuple can contain duplicate

In [2]:
# Example
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [6]:
tuple2 = (1, 'world', 2.71, (4, 5),{"key" : "value"})

In [8]:
tuple2

(1, 'world', 2.71, (4, 5), {'key': 'value'})

### Common Tuple Methods:

  . Count(item) : Returns the number of times an item appear in the tuple
  
  . index(item) : Returns the index of the first occurence of an item.

In [11]:
# count occurences of an item 
my_tuple.count(2)

1

In [13]:
# Get the index of an item 
my_tuple.index(3)

2

In [15]:
# Access elements by index
my_tuple[0]

1

3. #### Set

 A set is an unordered,mutuable and unindexed collection that does not allow duplicate elements . set are created using curly brackets {} or the set function.

### Characteristics:

   . Unordered : There is no defined order fro the elements 

   . Mutable : You can add or remove elements from a set, but once added, elements cannot be changed 

   . No duplicates : set automatically remove duplicate elements

In [22]:
# Example 
my_set = {1, 2, 3, 4, 5, 5}
my_set

{1, 2, 3, 4, 5}

In [45]:
sets = {1, "apple", 3.14, (1, 2)}

#### Common Set Method 

   . add(item) : Adds an element to the set.
   
   . remove(item) : Removes a specific element from the set.
   
   . discard(item): Removes a speccific element if it exist, without raising an error if it doesn't.
   
   . pop () : Removes and returns a random element 
   
   . clear() : Removes all element from the set.
   
   . Union(sets2): Return a set containing all elements from both sets 
   
   . intersection(sets); Returns a set containing all elements found in both sets
   
   . differences(sets): Returns a set containing elements in the first set but not in the second

In [27]:
# Adding an element 
my_set.add(14)

In [29]:
my_set

{1, 2, 3, 4, 5, 14}

In [37]:
my_set.remove(4)
my_set

{1, 2, 5, 14}

In [39]:
my_set

{1, 2, 5, 14}

In [49]:
union = my_set.union(sets)

In [51]:
union

{(1, 2), 1, 14, 2, 3.14, 5, 'apple'}

In [53]:
intersection_set =my_set.intersection(sets)

In [55]:
intersection_set

{1}

In [59]:
difference_set = my_set.difference(sets)

In [61]:
difference_set

{2, 5, 14}

4. ### Dictionary

 A dictionary is an odered, mutable collection of key_value pairs. Each key must be unique and it is assiociated with a specific value. Dictionare are created using curly braces {} with key_value pairs seperated by a colon:

### Characteristics:

    . ordered : The elements are stored as key_value pairs. Note: in the previous version of python 3.6 and earlier, dictionaries are unordered.
        
    . Mutable : You can add, change or remove key_value pairs.
        
    . Keys must be unique: You cannot have duplicate keys though values can be duplicated.

In [67]:
my_dict = {
    "name" : "Alice",
    "age" : 23,
    "city": "New York"
}

In [69]:
my_dict

{'name': 'Alice', 'age': 23, 'city': 'New York'}

In [71]:
dict1 = {"name":["Alice","Sam","Obi","Chi"],
        "age":[25,20,30,45],
        "city":["New York","LA","Jos","Abj"]
        }

In [73]:
dict1

{'name': ['Alice', 'Sam', 'Obi', 'Chi'],
 'age': [25, 20, 30, 45],
 'city': ['New York', 'LA', 'Jos', 'Abj']}

In [75]:
dict2 = {
    "Integar_key":10,
    "String_key" :"value",
    "float_key" : 3.14,
    "list_key" : [1, 2, 2],
    "tuple_key" : (4, 5),
    "dict_key" : {"inner_key": "inner_value"}
}
# Keys are string, values include integar, string, float, list, tuple, and another dictionary

In [77]:
dict2

{'Integar_key': 10,
 'String_key': 'value',
 'float_key': 3.14,
 'list_key': [1, 2, 2],
 'tuple_key': (4, 5),
 'dict_key': {'inner_key': 'inner_value'}}

### Common Dictionary Methods 

   . get(key): Returns the value for a specified key.
   
   . keys(): Returns all the keys in the dictionary.
   
   . Values : Returns all the values in the dictionary.
   
   . items(): Returns all key_value pairs as tuples.
   
   . update(dict2): updates the dictiornary with the key_value pairs from another dictionary.
   
   .pop(key): Removes and returns the value for the specified key.
   
   . clear(): Removes all key_value from the dictionary

In [83]:
my_dict.items()

dict_items([('name', 'Alice'), ('age', 23), ('city', 'New York')])

### LOOP

loops are used to avoid writing repetitive code. They allow us to repeat actions based on conditions.

In [86]:
for i in range(4) :
    print("Hello World")

Hello World
Hello World
Hello World
Hello World

#### for loop

   . The for loop is used to iterate over a sequence (such as a list, tuple, dictionary, set or string) or iterable objects.
       
   . A for loop is used to repeat actions for a knows number of items. Think of it like going through a list or checklist,doing something for each items.

   . Useful when you know how many items you need to repeat an action(like a list of items to go through)

In [89]:
range(10)

range(0, 10)

In [93]:
r = range(2, 10)
print(r)

range(2, 10)

In [95]:
r = range(2, 20, 5)
print(r)

range(2, 20, 5)

In [97]:
for r in range (10):
    print(r)

0
1
2
3
4
5
6
7
8
9

In [99]:
for r in range (2, 10):
    print(r)

2
3
4
5
6
7
8
9

In [101]:
for r in range (2, 20, 5):
    print(r)

2
7
12
17

In [103]:
for numbers in range (11):
    print(numbers)

0
1
2
3
4
5
6
7
8
9
10

In [105]:
for i in range (5):
    print(i)

0
1
2
3
4

In [107]:
# create an empty list to hold the values
results = []

# for loop to iterate and collect values 
for i in range (5):
    results.append(i)

# output the collected values 
print(results)

[0, 1, 2, 3, 4]

In [109]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [113]:
y = []
for numbers in range(2,21,2):
    y.append(numbers)
print(y)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [115]:
x =[numbers for numbers in range(2,21,2)]
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [119]:
x=[i for i in range (10,50,10)]
print(x)

[10, 20, 30, 40]

In [121]:
for i in range (50):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [123]:
r = []
for i in range(50):
    if i %2 != 0:
        r.append(i)
print(r)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [127]:
y =[i for i in range(50) if i %2 != 0]
print(y)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [129]:
for i in range(10, 0, -2):
    print(i)
print("Happy New Year:")
print("it's 2025 !!!!!! Ahhhhh")

10
8
6
4
2
Happy New Year:
it's 2025 !!!!!! Ahhhhh

In [131]:
# sum of all even number from 1 to 21

total = 0
for i in range(1,21):
    if i %2 ==0:
        total += i
    print (f"Sum of even numbers: {total}")

Sum of even numbers: 0
Sum of even numbers: 2
Sum of even numbers: 2
Sum of even numbers: 6
Sum of even numbers: 6
Sum of even numbers: 12
Sum of even numbers: 12
Sum of even numbers: 20
Sum of even numbers: 20
Sum of even numbers: 30
Sum of even numbers: 30
Sum of even numbers: 42
Sum of even numbers: 42
Sum of even numbers: 56
Sum of even numbers: 56
Sum of even numbers: 72
Sum of even numbers: 72
Sum of even numbers: 90
Sum of even numbers: 90
Sum of even numbers: 110

In [133]:
x = 5
x +=5
print(x)

10

In [136]:
f =[i for i in range(30)]
f

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [138]:
d = []
for i in f:
    if i <= 20:
        d.append(i)
d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [140]:
for i in f:
    if i == 20:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
21
22
23
24
25
26
27
28
29

In [150]:
for x in f:
    if x % 2 ==0:
        x += 2
        print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [142]:
fruits = ["apple","banana", "cherry"]
for fruits in fruits:
    print(fruits)

apple
banana
cherry

In [144]:
fruits = ["apple","Guava","avocado","banana","cherry","pears","orange","banana"]
for x in fruits:
    print (x)
    if x == "banana":
        break

apple
Guava
avocado
banana

In [146]:
fruits = ["apple","Guava","avocado","banana","cherry","pears","orange","banana"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple
Guava
avocado

In [148]:
fruits = ["apple","Guava","avocado","banana","cherry","pears","orange","banana"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
Guava
avocado
cherry
pears
orange

In [152]:
fruits = ["apple","banana","cherry","kiwi","mango"]
afruits = []
for x in fruits:
    if"a" in x:
        afruits.append(x)

print(afruits)

['apple', 'banana', 'mango']

In [154]:
names = ["Alice","Bob","Charlie"]
for names in names:
    print(f"Hello,{names}:")

Hello,Alice:
Hello,Bob:
Hello,Charlie:

In [156]:
countries = ["NIGERIA","GHANA","TOGO","ALGERIA","MOROCCO","MALAWI","BOTSWANNA","SOUTH AFRICA"]

In [158]:
for x in countries:
    if "A"in x:
        print(x)

NIGERIA
GHANA
ALGERIA
MALAWI
BOTSWANNA
SOUTH AFRICA

In [160]:
countries2 =[]
for x in countries:
    if "A" in x:
        countries2.append(x)

print(countries2)

['NIGERIA', 'GHANA', 'ALGERIA', 'MALAWI', 'BOTSWANNA', 'SOUTH AFRICA']

In [162]:
for x in countries:
    if "O" in x:
        print(x)

TOGO
MOROCCO
BOTSWANNA
SOUTH AFRICA

In [166]:
countries3 =[]
for x in countries:
    if "O" in x:
        countries3.append(x)

print(countries3)

['TOGO', 'MOROCCO', 'BOTSWANNA', 'SOUTH AFRICA']

In [168]:
w =[ y for y in countries if "O" in y]
print(w)

['TOGO', 'MOROCCO', 'BOTSWANNA', 'SOUTH AFRICA']

In [170]:
# list of student grade
grades = [85,90,78,92,88,65,55,72,67,80]

#filter grade to include only those 70 and above
A70 = [grade for grade in grades if grade >= 70]
print(A70)

[85, 90, 78, 92, 88, 72, 80]

In [174]:
# calculate the average grade of the filtered list
if A70: # check if the filtered list is not empty
    total = sum(A70)
    average_grade = total / len(A70)
    print(f"The average grade for scores 70 and above is {average_grade:.2f}")
else:
    print("No grades are 70 or above.")

The average grade for scores 70 and above is 83.57

In [180]:
# Dictionaries of employee and their salaries
employees = {
    "Alice": 70000,
    "Bob": 65000,
    "Charlie": 60000
}

# Apply a 10% raise
for name, salary in employees.items():
    new_salary = salary * 1.10
    employees[name] = new_salary

# Print updated salaries
print("Updated salaries:")
for name, salary in employees.items():
    print(f"{name}: ${salary:.2f}")

Updated salaries:
Alice: $77000.00
Bob: $71500.00
Charlie: $66000.00

In [182]:
# list of invoices, each with item and amount
invoices = [
    {"items": "Laptop", "amount":1200},
    {"items": "Phone", "amount": 2500},
    {"items": "Keyboard", "amount": 75}    
]

#Calculate the total amount
total_amount =0
for invoice in invoices:
    total_amount = invoice["amount"]

print(f"Total amount of all invoices: ${total_amount:.2f}" )

Total amount of all invoices: $75.00

In [184]:
#Convert a list of temperature from celcius to fahrenheit
celsius = [0,10,20,30]
fahrenheit = [(t*9/5) *32 for t in celsius]
print(fahrenheit)

[0.0, 576.0, 1152.0, 1728.0]

In [186]:
# To create a list in python contain a sequence of 0s and 1s using list comprehensions.
binary = [0 if i% 2 == 0 else 1 for i in range(10)]
print(binary)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [194]:
# create the list using list comprehension
# define the length of the list 
length = 20  #change this value to adjust the length of the list

b = [5 if i % 2 == 0 else 10 for i in range (length)]
print(b)

[5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10]

In [196]:
# create list of even number from 0 to 25
evens = [x for x in range (25) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [198]:
evens_sqd = [x**2 for x in range (25) if x % 2 == 0]
print(evens_sqd)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576]

In [200]:
#creating list from an existing list
[e**2 for e in evens]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576]

In [202]:
# set comprehension
# create a set of unique characters from a list
x = ["hi", 1, 2, 3, 3, 4, "hi", 4, 8, 8, 9]

In [206]:
y = {i for i in x}
print(y)

{1, 2, 3, 4, 8, 9, 'hi'}

#### While loop

- The while loop repeatedly executes a block of code as long as a condition is True i.e repeates an action as long as a condition remains true.
 
- it's like setting a task that repeats until something specific happens

In [211]:
# Print i as long as i is less than 6
i= 1
while i < 6 :
    print(i)
    i += 1

1
2
3
4
5

In [215]:
i =1 
while i <6:
    print("Hello World")
    i += 1

Hello World
Hello World
Hello World
Hello World
Hello World

In [213]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [1]:
i = 0
while True:
    print(i)
    i += 1
    if i == 3:
        break

0
1
2

In [3]:
i = 0 
while i < 6:
    i += 1
    if i ==1:
        continue
    print(i)

2
3
4
5
6

In [2]:
i = 2 
while i < 21:
    if i % 2 == 0:
        print(i)
    i = i + 1

2
4
6
8
10
12
14
16
18
20

In [4]:
e = []
i = 2
while i < 21:
    if i % 2 ==0:
        e.append(i)
    i = i + 1

print(e)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [8]:
countdown = 10

while countdown >= 0:
    print(f"Almost there: {countdown}")
    countdown -= 1

print("Time's up!")

Almost there: 10
Almost there: 9
Almost there: 8
Almost there: 7
Almost there: 6
Almost there: 5
Almost there: 4
Almost there: 3
Almost there: 2
Almost there: 1
Almost there: 0
Time's up!

In [12]:
correct_password = "code045"
password = ""
while password != correct_password:
    password = input("Enter the password: ")
    if password == correct_password:
        print("Access granted")
    else:
        print("Wrong password. Try again.")

Enter the password:  tolu025

Wrong password. Try again.

Enter the password:  segun456

Wrong password. Try again.

Enter the password:  ife245

Wrong password. Try again.

Enter the password:  code045

Access granted

In [14]:
correct_password = "c35k"
attempts = 3

while attempts > 0:
    password = input ("Enter your password: ")
    if password == correct_password:
        print("Login Successful!")
        break
    else:
        attempts -= 1
        print(f"Wrong password! {attempts} attempts left.")

if attempts == 0:
    print ("Account locked the to too many failed attempts.")

Enter your password:  code435

Wrong password! 2 attempts left.

Enter your password:  dell456

Wrong password! 1 attempts left.

Enter your password:  c35k

Login Successful!

In [16]:
balance = 500
withdraw = True

while balance >0 and withdraw:
    print (f"Your current balance is: ${balance}")
    amount= float(input("Enter amount to withdraw {or o to stop}: "))
    if amount == 0:
        print("Existing withdraw process.")
        withdraw = False
    elif amount > balance:
        print("Insufficent funds, Try a smaller amount.")
    else:
        balance -= amount
        print(f"You have successfully withdrawn ${amount}. Remaining balance: ${balance}")

if balance == 0:
    print("Your account balance is now zero. No further withdrawals allowed.")

Your current balance is: $500

Enter amount to withdraw {or o to stop}:  400

You have successfully withdrawn $400.0. Remaining balance: $100.0
Your current balance is: $100.0

Enter amount to withdraw {or o to stop}:  300

Insufficent funds, Try a smaller amount.
Your current balance is: $100.0

Enter amount to withdraw {or o to stop}:  50

You have successfully withdrawn $50.0. Remaining balance: $50.0
Your current balance is: $50.0

Enter amount to withdraw {or o to stop}:  50

You have successfully withdrawn $50.0. Remaining balance: $0.0
Your account balance is now zero. No further withdrawals allowed.

In [18]:
shopping_list =["apples","bananas","oranges","milk","bread"]

while shopping_list:
    item = shopping_list.pop(0)
    print(f"Processing item: {item}")

print("All items have been processed!")

Processing item: apples
Processing item: bananas
Processing item: oranges
Processing item: milk
Processing item: bread
All items have been processed!