## Creating Variables

Variables in python can have short name (like x and y) or more descriptive name (age,car_name,total_volume)

##### Rules for python variables

. Must start with a letter or underscore(_)

. cannot start with a number 

. can only contain letters, numbers and underscore (A-Z, 0-9,_)

. Are case sensitive (age, Age and AGE are different variable)

. cannot be python keyword

## Techniques to make Multiple Variable names readable 
-   Camel case : Each word except the first starts with a capital letter myVariableName = "John"
-   Pascal Case : Each word starts witha capital letter MyVariableName= "John"
-   Sanke Case : Each word is seperated by an underscore character my_variable_name ="John"

In [12]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [15]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [18]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Must common data types in python 

 1. Text type : string 
 2. Numeric Types : int, float, complex
 3. sequence Types : list, tuple, range
 4. Mapping  Types : dict
 5. Set types : set, frozenset
 6. Boolean Types: Bool
 7. Binary Types : bytes, bytearray, memoryview
 8. None type : NoneTypeType

text -> string str "Tope"
Integers -> int 55,
float -> decimal 6.88, -8.99, 66.45,
boolean -> true, false, yes, no

In [25]:
x = 5
y = "John"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

In [29]:
x = 5555

In [32]:
type(x)

int

In [35]:
x = 56.56

In [38]:
type(x)

float

In [41]:
t = "rotrt"

In [101]:
type(t)

str

In [45]:
cast= str(x)

In [48]:
cast

'56.56'

In [51]:
type(cast)

str

In [54]:
y =float(cast)
print(y)

56.56

In [57]:
z=567

In [60]:
type(z)

int

In [63]:
cost=str(z)

In [67]:
cost

'567'

In [75]:
w = int(87)

In [77]:
w

87

In [80]:
w=int(567)
print(w)

567

In [83]:
 # casting 
# If you want to specify the data type of a variable, this can be done with casting

x = str (3) # x will be "3"
y = int (3) # y will be 3
z = float (3) # z will be 3.0

In [86]:
print (x)
print(y)
print (z)

3
3
3.0

Note A date is not a data type of its own in python, but we can import module name datatime to word wwith dates

In [93]:
# Import the datatime module and display the current date: 
import datetime as dt
x=dt. datetime.now()
y = dt.datetime(2020, 5, 17)
print(x,y)

2025-01-15 16:01:30.857713 2020-05-17 00:00:00

In [96]:
x = dt.datetime.now()

In [99]:
x

datetime.datetime(2025, 1, 15, 16, 1, 45, 118046)

In [102]:
x.min

datetime.datetime(1, 1, 1, 0, 0)

In [105]:
z = dt.datetime.now()

In [134]:
z

datetime.datetime(2025, 1, 6, 9, 55, 31, 414265)

In [135]:
print(x.strftime("%a"))

Mon

***** strftime() function 
The datetime object has a method for formatting date object into readable strings.

The method is railed strftime(), and takes parameter, format, to specify the format of the returned strings 

"Directive"               "Description"                 "Example"
%a                    Weekday,short version               Wed
%A                    Weekday, full version               Wednessday
%w            Weekday as a number 0-6, 0 is Sunday         3
%d                     Day of month 01-31                  31
%b                   Month name, short version            Dec
%B                   Month name, full version             December
%m                   Month as a number 01-12               12
%y             Year, short version, without century        18
%Y                   Year, full version                    2018
%H                      Hour 00-23                          17
%I                      Hour 00-12                          05
%p                      AM/PM                               PM
%M                     Minute 00-59                         41
%S                     Second 00-59                         08
%f                Microsecond 000000-999999                548513
%z                    UTC offset                           +0100
%Z                    Timezone                             CST
%j               Day number of year 001-366                365
%U  Week number of year, Sunday as the first day of week, 00-53    52
%W Week number of year, Monday as the first day of week, 00-53     52
%c           Local version of date and time          Mon Dec 31 17:41:00 2018
%C                    Century                             20
%x           Local version of date                        12/31/18
%X             Local version of time                      17:41:00
%%                A % character                            %
%G               ISO 8601 year                           2018
%u              ISO 8601 weekday (1-7)                    1
%V             ISO 8601 weeknumber (01-53)                01

In [142]:
print(x.strftime("%A"))

Monday

In [143]:
print(x.strftime("%b"))

Jan

In [144]:
print(x.strftime("%Y"))

2025

### Index
An index refers to the position number of an item within a sequence or collection 
Zero Based Indexing - the first element in a sequence is a index 0, the second element at index 1 and so on.
Negtive indexing -where -1 refers to the last element, -2 refers to the second last element, and so on.

In [116]:
num =[10,20,30,40,50]

#Examle list
numbers = [10, 20, 30 ,40 ,50,60]

In [150]:
# Accessing elements using positive and negative indices 
print(numbers[0])
print (numbers[-1])

10
60

In [152]:
# selecting one list
print(numbers[1:4])

[20, 30, 40]